body{
    background-color: black;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    background-color: black;
    
}
.reyna {
    background: linear-gradient(45deg, #C400FF, #000000, #DC143C);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.raze {
    background: linear-gradient(45deg, #FFC0CB, #9A54FF, #F0F8FF);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.omen {
    background: linear-gradient(45deg, #000000, #6A287F, #D3D3D3);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.sova {
    background: linear-gradient(45deg, #2E8B57, #D3D3D3, #FFFFFF);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.chamber {
    background: linear-gradient(45deg, #FFD700, #000000, #FFFFFF);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
   
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}

.brimstone {
    background: linear-gradient(45deg, #2E8B57, #C19A64, #FFFF00);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.neon {
    background: linear-gradient(45deg, #5658FF, #FFFFFF, #ADD8E6);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.iso {
    background-color: blue;
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.kayo {
    background: linear-gradient(45deg, #C0C0C0, #5658FF, #000000);;
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.astra {
    background: linear-gradient(45deg, #9A54FF, #5658FF, #FF69B4);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   

}

.killjoy {
    background: linear-gradient(45deg, #FFFF00, #FFA500, #FFFFFF);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.cypher {
    background: linear-gradient(45deg, #000000, #352583, #00FFFF);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.breach {
    background: linear-gradient(45deg, #FFA500, #C40000, #D3D3D3);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.harbor {
    background: linear-gradient(45deg, #00FFFF, #178597, #C2B280);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.viper {
    background: linear-gradient(45deg, #40F100, #9A54FF, #000000);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

/* Styles for .sova */
.sage {
    background: linear-gradient(45deg, #FFFFFF, #2E8B57, #FFD700);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.yoru {
    background: linear-gradient(45deg, #000080, #000000, #A9A9A9);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.skye {
    background: linear-gradient(45deg, #228B22, #A52A2A, #F5F5DC);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.gekko {
     background: linear-gradient(45deg, #33FF00, #000000, #6A287F);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.phoenix {
    background: linear-gradient(45deg, #FF4500, #FFA500, #FFFF00);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.deadlock {
    background: linear-gradient(45deg, #808080, #2E8B57, #FFA500);;
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}

.jett {
    background: linear-gradient(45deg, #5658FF, #FFFFFF, #D3D3D3);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px; 
   
}

.fade {
    background: linear-gradient(45deg, #000000, #352583, #A9A9A9);
    height: 110px;
    width: 110px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
   
}
.list{
    font-size: 20px;
    font-family: fantasy;
    color: white;
}